<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {284, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 160}</string>
			<key>spriteSourceSize</key>
			<string>{284, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {284, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 164}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>button_press</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 179}, {42.75, 40.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109.75, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{109.75, 160}</string>
			<key>spriteSourceSize</key>
			<string>{109.75, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 119}, {160, 109.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29.5, 29.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29.5, 29.25}</string>
			<key>spriteSourceSize</key>
			<string>{29.5, 29.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 221}, {29.25, 29.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53.25, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53.25, 59}</string>
			<key>spriteSourceSize</key>
			<string>{53.25, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 123}, {59, 53.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 58}, {50, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114.25, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114.25, 160}</string>
			<key>spriteSourceSize</key>
			<string>{114.25, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 2}, {160, 114.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{54, 58.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 2}, {58.5, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
