<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Archer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{377, 767}, {110.75, 75.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteSourceSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 940}, {110.75, 75.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BattleBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 574}, {160, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 284}</string>
			<key>spriteSourceSize</key>
			<string>{160, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 574}, {160, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BattleTitle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{723, 285}, {38.5, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38.5, 117}</string>
			<key>spriteSourceSize</key>
			<string>{38.5, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{572, 574}, {117, 38.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BloodGiant</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 844}, {110.75, 75.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteSourceSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 556}, {75.75, 110.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BlueCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{723, 860}, {173.25, 127.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteSourceSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{657, 164}, {127.75, 173.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{957, 749}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 264}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{957, 706}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 433}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{957, 664}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 309}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{957, 621}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{131, 264}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardBase</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{898, 860}, {115.5, 164.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115.5, 164.5}</string>
			<key>spriteSourceSize</key>
			<string>{115.5, 164.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{572, 450}, {164.5, 115.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardCostBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{723, 990}, {40.75, 31.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40.75, 31.25}</string>
			<key>spriteSourceSize</key>
			<string>{40.75, 31.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{853, 402}, {40.75, 31.25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardGainSoul</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{756, 767}, {84.5, 88.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84.5, 88.75}</string>
			<key>spriteSourceSize</key>
			<string>{84.5, 88.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 164}, {84.5, 88.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87.25, 27.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87.25, 27.75}</string>
			<key>spriteSourceSize</key>
			<string>{87.25, 27.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 912}, {87.25, 27.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardTextBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{575, 765}, {98, 79.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 79.5}</string>
			<key>spriteSourceSize</key>
			<string>{98, 79.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{131, 164}, {79.5, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Action</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{763, 285}, {24.75, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24.75, 35}</string>
			<key>spriteSourceSize</key>
			<string>{24.75, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{643, 912}, {35, 24.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 767}, {98.25, 90.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98.25, 90.75}</string>
			<key>spriteSourceSize</key>
			<string>{98.25, 90.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{657, 340}, {90.75, 98.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{675, 765}, {79.75, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79.75, 78}</string>
			<key>spriteSourceSize</key>
			<string>{79.75, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{937, 940}, {78, 79.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GreenCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{575, 635}, {173.25, 127.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteSourceSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 736}, {127.75, 173.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>HandGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{952, 2}, {67.75, 283.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67.75, 283.5}</string>
			<key>spriteSourceSize</key>
			<string>{67.75, 283.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{952, 2}, {67.75, 283.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MenuBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{790, 2}, {160, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 284}</string>
			<key>spriteSourceSize</key>
			<string>{160, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 2}, {160, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 767}, {110.75, 75.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteSourceSize</key>
			<string>{110.75, 75.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{937, 827}, {75.75, 110.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MonsterLayer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{790, 288}, {82.5, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82.5, 284}</string>
			<key>spriteSourceSize</key>
			<string>{82.5, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 941}, {284, 82.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MonsterLayerBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 860}, {284, 82.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 82.5}</string>
			<key>spriteSourceSize</key>
			<string>{284, 82.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 941}, {284, 82.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MonsterLine</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 1013}, {261.25, 10.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261.25, 10.5}</string>
			<key>spriteSourceSize</key>
			<string>{261.25, 10.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{559, 164}, {10.5, 261.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>NeutralCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 164}, {173.25, 127.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteSourceSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{691, 568}, {173.25, 127.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Ooze</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{874, 401}, {75.75, 110.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75.75, 110.75}</string>
			<key>spriteSourceSize</key>
			<string>{75.75, 110.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{838, 827}, {75.75, 110.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PictureCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{401, 844}, {84.75, 93.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84.75, 93.5}</string>
			<key>spriteSourceSize</key>
			<string>{84.75, 93.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 337}, {84.75, 93.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PlayGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 944}, {284, 40.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 40.75}</string>
			<key>spriteSourceSize</key>
			<string>{284, 40.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 164}, {40.75, 284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PlayerHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 79.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{512, 79.5}</string>
			<key>spriteSourceSize</key>
			<string>{512, 79.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 860}, {512, 79.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RedCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 164}, {127.75, 173.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127.75, 173.25}</string>
			<key>spriteSourceSize</key>
			<string>{127.75, 173.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{838, 698}, {173.25, 127.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ResearchHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50.5, 50.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50.5, 50.5}</string>
			<key>spriteSourceSize</key>
			<string>{50.5, 50.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 494}, {50.5, 50.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ResourceBar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156.25, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156.25, 28}</string>
			<key>spriteSourceSize</key>
			<string>{156.25, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{680, 910}, {156.25, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>StartButton_Normal</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{874, 514}, {66.25, 33.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66.25, 33.25}</string>
			<key>spriteSourceSize</key>
			<string>{66.25, 33.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 340}, {33.25, 66.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StartButton_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{723, 567}, {33.25, 66.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33.25, 66.25}</string>
			<key>spriteSourceSize</key>
			<string>{33.25, 66.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{785, 402}, {66.25, 33.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Title</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{723, 164}, {62, 118.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 118.5}</string>
			<key>spriteSourceSize</key>
			<string>{62, 118.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 498}, {118.5, 62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Troll</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{874, 288}, {75.75, 110.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75.75, 110.75}</string>
			<key>spriteSourceSize</key>
			<string>{75.75, 110.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{944, 574}, {75.75, 110.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Victory</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{504, 2}, {284, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 160}</string>
			<key>spriteSourceSize</key>
			<string>{284, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 2}, {284, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>YellowCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{340, 164}, {173.25, 127.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteSourceSize</key>
			<string>{173.25, 127.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 735}, {127.75, 173.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{515, 293}, {159, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 112}</string>
			<key>spriteSourceSize</key>
			<string>{159, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 337}, {112, 159}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack_Desaturated</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{575, 847}, {112, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 159}</string>
			<key>spriteSourceSize</key>
			<string>{112, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 288}, {159, 112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{515, 164}, {171, 126.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 126.75}</string>
			<key>spriteSourceSize</key>
			<string>{171, 126.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 164}, {126.75, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>damageIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{132, 294}, {98.5, 130.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98.5, 130.75}</string>
			<key>spriteSourceSize</key>
			<string>{98.5, 130.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{542, 634}, {130.75, 98.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{765, 990}, {29.25, 29.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29.25, 29.5}</string>
			<key>spriteSourceSize</key>
			<string>{29.25, 29.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 408}, {29.25, 29.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53.25, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53.25, 59}</string>
			<key>spriteSourceSize</key>
			<string>{53.25, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 433}, {53.25, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{776, 813}, {50, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>line</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{516, 1013}, {204.75, 10.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{204.75, 10.5}</string>
			<key>spriteSourceSize</key>
			<string>{204.75, 10.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{559, 428}, {10.5, 204.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>lowerBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{874, 574}, {80.5, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80.5, 284}</string>
			<key>spriteSourceSize</key>
			<string>{80.5, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{574, 164}, {80.5, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>map</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {500, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 160}</string>
			<key>spriteSourceSize</key>
			<string>{500, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {500, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monsterIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{957, 574}, {46.75, 45.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46.75, 45.5}</string>
			<key>spriteSourceSize</key>
			<string>{46.75, 45.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 493}, {46.75, 45.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{758, 605}, {114.25, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114.25, 160}</string>
			<key>spriteSourceSize</key>
			<string>{114.25, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 440}, {160, 114.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>rows</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{952, 288}, {65, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 284}</string>
			<key>spriteSourceSize</key>
			<string>{65, 284}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{952, 288}, {65, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>solarSystemInfo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88.5, 49.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88.5, 49.75}</string>
			<key>spriteSourceSize</key>
			<string>{88.5, 49.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 402}, {49.75, 88.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>solarSystem_0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59.25, 57.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59.25, 57.75}</string>
			<key>spriteSourceSize</key>
			<string>{59.25, 57.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{776, 698}, {59.25, 57.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>statsholder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{758, 567}, {26, 35.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 35.5}</string>
			<key>spriteSourceSize</key>
			<string>{26, 35.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 912}, {35.5, 26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{54, 58.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{776, 757}, {58.5, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>textbox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 944}, {248.25, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{248.25, 75}</string>
			<key>spriteSourceSize</key>
			<string>{248.25, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{574, 941}, {248.25, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>topBar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 987}, {284, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 24}</string>
			<key>spriteSourceSize</key>
			<string>{284, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 450}, {24, 284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
