<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{436, 452}, {40.5, 42.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 433}, {42.75, 40.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 391}, {42.75, 40.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42.75, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{42.75, 40.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 348}, {42.75, 40.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardBase</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 170}</string>
			<key>spriteSourceSize</key>
			<string>{125, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 131}, {170, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardCostBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31.25, 40.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31.25, 40.75}</string>
			<key>spriteSourceSize</key>
			<string>{31.25, 40.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 473}, {40.75, 31.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardGainSoul</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99.5, 79.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{99.5, 79.25}</string>
			<key>spriteSourceSize</key>
			<string>{99.5, 79.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 372}, {79.25, 99.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardTextBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98.5, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98.5, 78}</string>
			<key>spriteSourceSize</key>
			<string>{98.5, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 372}, {78, 98.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Action</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 24.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 24.75}</string>
			<key>spriteSourceSize</key>
			<string>{35, 24.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{275, 474}, {24.75, 35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98.25, 90.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98.25, 90.75}</string>
			<key>spriteSourceSize</key>
			<string>{98.25, 90.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 396}, {98.25, 90.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HandGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283.5, 67.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{283.5, 67.75}</string>
			<key>spriteSourceSize</key>
			<string>{283.5, 67.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 164}, {283.5, 67.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PlayGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {284, 40.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 40.75}</string>
			<key>spriteSourceSize</key>
			<string>{284, 40.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{461, 2}, {40.75, 284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>background</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {284, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{284, 160}</string>
			<key>spriteSourceSize</key>
			<string>{284, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {284, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109.75, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{109.75, 160}</string>
			<key>spriteSourceSize</key>
			<string>{109.75, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119, 348}, {109.75, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cardBack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 159}</string>
			<key>spriteSourceSize</key>
			<string>{112, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{280, 258}, {159, 112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack_Desaturated</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 159}</string>
			<key>spriteSourceSize</key>
			<string>{112, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119, 234}, {159, 112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126.75, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126.75, 171}</string>
			<key>spriteSourceSize</key>
			<string>{126.75, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{288, 2}, {171, 126.75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29.5, 29.25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29.5, 29.25}</string>
			<key>spriteSourceSize</key>
			<string>{29.5, 29.25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 476}, {29.25, 29.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53.25, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53.25, 59}</string>
			<key>spriteSourceSize</key>
			<string>{53.25, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{436, 396}, {59, 53.25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 344}, {63, 50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monstercard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114.25, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114.25, 160}</string>
			<key>spriteSourceSize</key>
			<string>{114.25, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 234}, {114.25, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{54, 58.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{441, 288}, {58.5, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
