<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Archer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 303}</string>
			<key>spriteSourceSize</key>
			<string>{443, 303}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1944, 996}, {303, 443}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BattleBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1152, 8}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BattleTitle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {468, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{468, 154}</string>
			<key>spriteSourceSize</key>
			<string>{468, 154}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2788, 1620}, {154, 468}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BloodGiant</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 303}</string>
			<key>spriteSourceSize</key>
			<string>{443, 303}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1944, 1448}, {303, 443}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1532, 1452}, {171, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1352, 1452}, {171, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1712, 1452}, {171, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1352, 1620}, {171, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardBase</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {500, 680}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 680}</string>
			<key>spriteSourceSize</key>
			<string>{500, 680}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3440, 1152}, {500, 680}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardCostBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 163}</string>
			<key>spriteSourceSize</key>
			<string>{125, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3804, 1840}, {125, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardGainSoul</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {398, 317}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{398, 317}</string>
			<key>spriteSourceSize</key>
			<string>{398, 317}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1460}, {398, 317}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardTextBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {394, 312}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{394, 312}</string>
			<key>spriteSourceSize</key>
			<string>{394, 312}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1784}, {394, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Card_Action</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 99}</string>
			<key>spriteSourceSize</key>
			<string>{140, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3996, 1152}, {99, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {393, 363}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{393, 363}</string>
			<key>spriteSourceSize</key>
			<string>{393, 363}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3400, 1840}, {393, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HandGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1134, 271}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1134, 271}</string>
			<key>spriteSourceSize</key>
			<string>{1134, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2988, 656}, {271, 1134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MenuBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3440, 8}, {640, 1136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 303}</string>
			<key>spriteSourceSize</key>
			<string>{443, 303}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2948, 1800}, {303, 443}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MonsterLayer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 330}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 330}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 330}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1152, 656}, {1136, 330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MonsterLayerBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 330}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 330}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 330}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 656}, {1136, 330}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MonsterLine</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1045, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1045, 42}</string>
			<key>spriteSourceSize</key>
			<string>{1045, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3948, 1152}, {42, 1045}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Ooze</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 303}</string>
			<key>spriteSourceSize</key>
			<string>{443, 303}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{656, 1452}, {443, 303}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PlayGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 163}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3268, 656}, {163, 1136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StartButton_Normal</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {265, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 133}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3260, 1800}, {133, 265}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StartButton_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {265, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 133}</string>
			<key>spriteSourceSize</key>
			<string>{265, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3260, 2076}, {133, 265}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Title</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {474, 248}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{474, 248}</string>
			<key>spriteSourceSize</key>
			<string>{474, 248}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3804, 2208}, {248, 474}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Troll</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 303}</string>
			<key>spriteSourceSize</key>
			<string>{443, 303}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3400, 2212}, {303, 443}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Victory</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2296, 8}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>background</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 8}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {439, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{439, 640}</string>
			<key>spriteSourceSize</key>
			<string>{439, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2256, 1172}, {640, 439}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {448, 636}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{448, 636}</string>
			<key>spriteSourceSize</key>
			<string>{448, 636}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1300, 996}, {636, 448}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack_Desaturated</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {448, 636}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{448, 636}</string>
			<key>spriteSourceSize</key>
			<string>{448, 636}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{656, 996}, {636, 448}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {507, 684}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{507, 684}</string>
			<key>spriteSourceSize</key>
			<string>{507, 684}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2296, 656}, {684, 507}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>damageIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {523, 394}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{523, 394}</string>
			<key>spriteSourceSize</key>
			<string>{523, 394}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2256, 1620}, {523, 394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118, 117}</string>
			<key>spriteSourceSize</key>
			<string>{118, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3804, 2012}, {118, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{213, 236}</string>
			<key>spriteSourceSize</key>
			<string>{213, 236}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1108, 1452}, {236, 213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 252}</string>
			<key>spriteSourceSize</key>
			<string>{200, 252}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{416, 1684}, {200, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {457, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{457, 640}</string>
			<key>spriteSourceSize</key>
			<string>{457, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 996}, {640, 457}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {216, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 234}</string>
			<key>spriteSourceSize</key>
			<string>{216, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{416, 1460}, {234, 216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
