<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 1800}, {162, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1640, 884}, {171, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1676, 704}, {162, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{171, 162}</string>
			<key>spriteSourceSize</key>
			<string>{171, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1676, 524}, {162, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>HandGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1134, 271}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1134, 271}</string>
			<key>spriteSourceSize</key>
			<string>{1134, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1152, 524}, {271, 1134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PlayGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 163}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1844, 8}, {163, 1136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>background</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 8}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {439, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{439, 640}</string>
			<key>spriteSourceSize</key>
			<string>{439, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 1568}, {640, 439}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {448, 636}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{448, 636}</string>
			<key>spriteSourceSize</key>
			<string>{448, 636}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 1112}, {636, 448}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack_Desaturated</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {448, 636}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{448, 636}</string>
			<key>spriteSourceSize</key>
			<string>{448, 636}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 656}, {636, 448}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {507, 684}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{507, 684}</string>
			<key>spriteSourceSize</key>
			<string>{507, 684}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1152, 8}, {684, 507}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118, 117}</string>
			<key>spriteSourceSize</key>
			<string>{118, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1896, 1152}, {118, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{213, 236}</string>
			<key>spriteSourceSize</key>
			<string>{213, 236}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1800}, {213, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 252}</string>
			<key>spriteSourceSize</key>
			<string>{200, 252}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1432, 748}, {200, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {457, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{457, 640}</string>
			<key>spriteSourceSize</key>
			<string>{457, 640}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1432, 1152}, {457, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {216, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 234}</string>
			<key>spriteSourceSize</key>
			<string>{216, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1432, 524}, {234, 216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
