<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ability_Colonize</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 125}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1184, 524}, {125, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Ability_Colonize_selected</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 125}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1026, 356}, {125, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{608, 686}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1024, 484}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 484}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 686}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardCostBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62.5, 81.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62.5, 81.5}</string>
			<key>spriteSourceSize</key>
			<string>{62.5, 81.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{538, 776}, {81.5, 62.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardGainSoul</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177.5, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{177.5, 169}</string>
			<key>spriteSourceSize</key>
			<string>{177.5, 169}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 848}, {177.5, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174.5, 55.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{174.5, 55.5}</string>
			<key>spriteSourceSize</key>
			<string>{174.5, 55.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1994, 4}, {55.5, 174.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Command-hd</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 125}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1504, 426}, {125, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Command_Pressed-hd</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53.5, 41.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53.5, 41.5}</string>
			<key>spriteSourceSize</key>
			<string>{53.5, 41.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1994, 184}, {53.5, 41.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GreenCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1384, 4}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MartianRocket_Logo_Big</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1434, 614}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>NeutralCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1734, 4}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PlayerHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 159}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {1024, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RedCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 168}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ResearchHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{101, 101}</string>
			<key>spriteSourceSize</key>
			<string>{101, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{874, 576}, {101, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ResourceBar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {312.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{312.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{312.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{966, 168}, {56, 312.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Resource_food</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 168}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Resource_money</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{614, 168}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Resource_production</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 428}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Resource_science</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 518}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Resource_waste</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 428}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StartButton_Normal</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132.5, 66.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteSourceSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 778}, {132.5, 66.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>StartButton_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132.5, 66.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteSourceSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 778}, {132.5, 66.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>YellowCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1672, 356}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>blankCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 4}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>floaty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{62, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{622, 776}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icons_food</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {154, 153.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{154, 153.5}</string>
			<key>spriteSourceSize</key>
			<string>{154, 153.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{694, 686}, {154, 153.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icons_money</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 151}</string>
			<key>spriteSourceSize</key>
			<string>{159, 151}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 868}, {159, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icons_production</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 154}</string>
			<key>spriteSourceSize</key>
			<string>{157, 154}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 868}, {157, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icons_science</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163.5, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{163.5, 157}</string>
			<key>spriteSourceSize</key>
			<string>{163.5, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1504, 264}, {163.5, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>planets_arid</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 98.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 98.5}</string>
			<key>spriteSourceSize</key>
			<string>{98, 98.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1082, 574}, {98, 98.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>planets_dead</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 98}</string>
			<key>spriteSourceSize</key>
			<string>{97, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1134, 676}, {97, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>planets_lava</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 99}</string>
			<key>spriteSourceSize</key>
			<string>{98, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{980, 574}, {98, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>planets_water</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 100}</string>
			<key>spriteSourceSize</key>
			<string>{97, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 676}, {97, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>solarSystemInfo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 99.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{177, 99.5}</string>
			<key>spriteSourceSize</key>
			<string>{177, 99.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{852, 686}, {177, 99.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>solarSystem_0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118.5, 115.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118.5, 115.5}</string>
			<key>spriteSourceSize</key>
			<string>{118.5, 115.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1312, 524}, {118.5, 115.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>solarSystem_Label</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144.5, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144.5, 61}</string>
			<key>spriteSourceSize</key>
			<string>{144.5, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{874, 428}, {61, 144.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spaceCards</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1154, 264}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tech_expansion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 164}</string>
			<key>spriteSourceSize</key>
			<string>{166, 164}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{510, 848}, {164, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tech_industry</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 164}</string>
			<key>spriteSourceSize</key>
			<string>{166, 164}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{678, 844}, {164, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tech_military</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 164}</string>
			<key>spriteSourceSize</key>
			<string>{166, 164}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{846, 844}, {164, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tech_science</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 164}</string>
			<key>spriteSourceSize</key>
			<string>{166, 164}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1014, 790}, {164, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>waypoint</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 12}</string>
			<key>spriteSourceSize</key>
			<string>{76, 12}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1994, 228}, {12, 76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
