<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{568, 320}</string>
			<key>spriteSourceSize</key>
			<string>{568, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {568, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 328}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>button_press</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 358}, {85.5, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219.5, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{219.5, 320}</string>
			<key>spriteSourceSize</key>
			<string>{219.5, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 238}, {320, 219.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{59, 58.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 442}, {58.5, 59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106.5, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106.5, 118}</string>
			<key>spriteSourceSize</key>
			<string>{106.5, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 246}, {118, 106.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 126}</string>
			<key>spriteSourceSize</key>
			<string>{100, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 116}, {100, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {228.5, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{228.5, 320}</string>
			<key>spriteSourceSize</key>
			<string>{228.5, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 4}, {320, 228.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 117}</string>
			<key>spriteSourceSize</key>
			<string>{108, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{900, 4}, {117, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
