<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Archer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{754, 1534}, {221.5, 151.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteSourceSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1650, 1880}, {221.5, 151.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BattleBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 1148}, {320, 568}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 568}</string>
			<key>spriteSourceSize</key>
			<string>{320, 568}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1148}, {320, 568}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BattleTitle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1446, 570}, {77, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 234}</string>
			<key>spriteSourceSize</key>
			<string>{77, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1144, 1148}, {234, 77}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BloodGiant</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{576, 1688}, {221.5, 151.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteSourceSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 1112}, {151.5, 221.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BlueCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1446, 1720}, {346.5, 255.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteSourceSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1314, 328}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1914, 1498}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{348, 528}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1914, 1412}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 866}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ButtonGlow_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1914, 1328}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{406, 618}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Button_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1914, 1242}, {85.5, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85.5, 81}</string>
			<key>spriteSourceSize</key>
			<string>{85.5, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{262, 528}, {81, 85.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardBase</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1796, 1720}, {231, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{231, 329}</string>
			<key>spriteSourceSize</key>
			<string>{231, 329}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1144, 900}, {329, 231}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>CardCostBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1446, 1980}, {81.5, 62.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81.5, 62.5}</string>
			<key>spriteSourceSize</key>
			<string>{81.5, 62.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1706, 804}, {81.5, 62.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardGainSoul</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1512, 1534}, {169, 177.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 177.5}</string>
			<key>spriteSourceSize</key>
			<string>{169, 177.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{426, 328}, {169, 177.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174.5, 55.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{174.5, 55.5}</string>
			<key>spriteSourceSize</key>
			<string>{174.5, 55.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 1824}, {174.5, 55.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>CardTextBox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1150, 1530}, {196, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{196, 159}</string>
			<key>spriteSourceSize</key>
			<string>{196, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{262, 328}, {159, 196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Action</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1526, 570}, {49.5, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49.5, 70}</string>
			<key>spriteSourceSize</key>
			<string>{49.5, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1286, 1824}, {70, 49.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{328, 1534}, {196.5, 181.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{196.5, 181.5}</string>
			<key>spriteSourceSize</key>
			<string>{196.5, 181.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1314, 680}, {181.5, 196.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Card_Image_Attack2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1350, 1530}, {159.5, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159.5, 156}</string>
			<key>spriteSourceSize</key>
			<string>{159.5, 156}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1874, 1880}, {156, 159.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GreenCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1150, 1270}, {346.5, 255.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteSourceSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 1472}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>HandGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1904, 4}, {135.5, 567}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135.5, 567}</string>
			<key>spriteSourceSize</key>
			<string>{135.5, 567}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1904, 4}, {135.5, 567}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MenuBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1580, 4}, {320, 568}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 568}</string>
			<key>spriteSourceSize</key>
			<string>{320, 568}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1580, 4}, {320, 568}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{530, 1534}, {221.5, 151.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteSourceSize</key>
			<string>{221.5, 151.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1874, 1654}, {151.5, 221.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MonsterLayer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1580, 576}, {165, 568}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 568}</string>
			<key>spriteSourceSize</key>
			<string>{165, 568}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 1882}, {568, 165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>MonsterLayerBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 1720}, {568, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{568, 165}</string>
			<key>spriteSourceSize</key>
			<string>{568, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1882}, {568, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>MonsterLine</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{506, 2026}, {522.5, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{522.5, 21}</string>
			<key>spriteSourceSize</key>
			<string>{522.5, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1118, 328}, {21, 522.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>NeutralCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{328, 328}, {346.5, 255.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteSourceSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1382, 1136}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Ooze</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1748, 802}, {151.5, 221.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151.5, 221.5}</string>
			<key>spriteSourceSize</key>
			<string>{151.5, 221.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1676, 1654}, {151.5, 221.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PictureCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{802, 1688}, {169.5, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169.5, 187}</string>
			<key>spriteSourceSize</key>
			<string>{169.5, 187}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 674}, {169.5, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PlayGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{506, 1888}, {568, 81.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{568, 81.5}</string>
			<key>spriteSourceSize</key>
			<string>{568, 81.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 328}, {81.5, 568}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PlayerHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1024, 159}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 159}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1720}, {1024, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RedCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 328}, {255.5, 346.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteSourceSize</key>
			<string>{255.5, 346.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1676, 1396}, {346.5, 255.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ResearchHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{101, 101}</string>
			<key>spriteSourceSize</key>
			<string>{101, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 988}, {101, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ResourceBar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {312.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{312.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{312.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 1820}, {312.5, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>StartButton_Normal</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1748, 1028}, {132.5, 66.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteSourceSize</key>
			<string>{132.5, 66.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1500, 680}, {66.5, 132.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StartButton_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1446, 1134}, {66.5, 132.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66.5, 132.5}</string>
			<key>spriteSourceSize</key>
			<string>{66.5, 132.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1570, 804}, {132.5, 66.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Title</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1446, 328}, {124, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 237}</string>
			<key>spriteSourceSize</key>
			<string>{124, 237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 996}, {237, 124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Troll</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1748, 576}, {151.5, 221.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151.5, 221.5}</string>
			<key>spriteSourceSize</key>
			<string>{151.5, 221.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1888, 1148}, {151.5, 221.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Victory</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1008, 4}, {568, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{568, 320}</string>
			<key>spriteSourceSize</key>
			<string>{568, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 4}, {568, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>YellowCard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{680, 328}, {346.5, 255.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteSourceSize</key>
			<string>{346.5, 255.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1292, 1470}, {255.5, 346.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1030, 586}, {318, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{318, 224}</string>
			<key>spriteSourceSize</key>
			<string>{318, 224}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 674}, {224, 318}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardBack_Desaturated</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1150, 1694}, {224, 318}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{224, 318}</string>
			<key>spriteSourceSize</key>
			<string>{224, 318}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1574, 576}, {318, 224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cardGlow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1030, 328}, {342, 253.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{342, 253.5}</string>
			<key>spriteSourceSize</key>
			<string>{342, 253.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 328}, {253.5, 342}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>damageIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 588}, {197, 261.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 261.5}</string>
			<key>spriteSourceSize</key>
			<string>{197, 261.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1084, 1268}, {261.5, 197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>deckIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1530, 1980}, {58.5, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58.5, 59}</string>
			<key>spriteSourceSize</key>
			<string>{58.5, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1500, 816}, {58.5, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>images</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106.5, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106.5, 118}</string>
			<key>spriteSourceSize</key>
			<string>{106.5, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 866}, {106.5, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>imgres</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 126}</string>
			<key>spriteSourceSize</key>
			<string>{100, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1552, 1626}, {100, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>line</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1032, 2026}, {409.5, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{409.5, 21}</string>
			<key>spriteSourceSize</key>
			<string>{409.5, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1118, 856}, {21, 409.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>lowerBG</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1748, 1148}, {161, 568}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 568}</string>
			<key>spriteSourceSize</key>
			<string>{161, 568}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1148, 328}, {161, 568}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>map</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {1000, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1000, 320}</string>
			<key>spriteSourceSize</key>
			<string>{1000, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {1000, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monsterIcon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1914, 1148}, {93.5, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{93.5, 91}</string>
			<key>spriteSourceSize</key>
			<string>{93.5, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1800, 986}, {93.5, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monstercard2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1516, 1210}, {228.5, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{228.5, 320}</string>
			<key>spriteSourceSize</key>
			<string>{228.5, 320}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1476, 880}, {320, 228.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>rows</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1904, 576}, {130, 568}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 568}</string>
			<key>spriteSourceSize</key>
			<string>{130, 568}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1904, 576}, {130, 568}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>solarSystemInfo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 99.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{177, 99.5}</string>
			<key>spriteSourceSize</key>
			<string>{177, 99.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1800, 804}, {99.5, 177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>solarSystem_0</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118.5, 115.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118.5, 115.5}</string>
			<key>spriteSourceSize</key>
			<string>{118.5, 115.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1552, 1396}, {118.5, 115.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>statsholder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1516, 1134}, {52, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 71}</string>
			<key>spriteSourceSize</key>
			<string>{52, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1212, 1824}, {71, 52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sword</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 117}</string>
			<key>spriteSourceSize</key>
			<string>{108, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1552, 1514}, {117, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>textbox</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 1888}, {496.5, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{496.5, 150}</string>
			<key>spriteSourceSize</key>
			<string>{496.5, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1148, 1882}, {496.5, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>topBar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{506, 1974}, {568, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{568, 48}</string>
			<key>spriteSourceSize</key>
			<string>{568, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1032, 900}, {48, 568}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>RogueCardsDoc_RougeCards.png</string>
	</dict>
</dict>
</plist>
